body{
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 1000px; 
	background: #FFFF99;
	word-wrap: break-word;
	color: #222;
	font-family: 'Cantora One';
}

#left-panel{
	background: #FFCC33;
	width: 30%; 
	min-width: 300px;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

#cookie{
	margin: 10px 5% 20px;
	width: 90%;
	font-size: 120px; 
	font-weight: bold;
	height: 400px; 
	text-align:center;
	cursor: pointer;
	display: table;
	word-wrap: break-word;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#cookie:hover{
	color: #0000CC;
}

#cookie span{
	word-break: break-all;
	table-layout: fixed;
	display: table-cell; 
	  vertical-align: middle; 
	  text-align: center; 
}

#word-count{
	margin: 0px 0 30px;
	width: 90%;
	height: 40px; 
	padding: 20px 5%;
	background: #333;
	color: #fff;
	font-size: 20px;
	text-align: center;
}

#buy-cursor {
	bottom: 0; 
	left: 0;
	margin: 0;
	position: fixed;
	z-index: 9999;
	height: 50px;
	padding: 10px 0;
	background: #333;
	color: #fff;
	width: 30%;
	font-size: 20px;
	text-align:center;
	min-width:300px;
	cursor: pointer;
}

#buy-cursor:hover {
	background: #000099;
}


#middle-panel{
	float: left;
	width: 70%;
	margin-left: 30%;
}

h2{
	font-weight: normal;
}

#middle-panel #slug{
	position:fixed;
	color: #fff;
	padding: 20px 0 20px 5%; 
	height: 40px; 
	margin: 0 0 20px;
	background: #555;
	width: 95%;

}

#essay{
	font-family: 'Libre Baskerville';
	padding: 20px 10% 20px 5%; 
	width: 85%;
	margin-top: 80px;
	line-height: 26px;
	font-size: 14px;
}

.word{
	display:none;
}